/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------------------
 *  Nextflow config file for use with Singularity on CFC cluster
 * -------------------------------------------------------------
 * Defines basic usage limits and singularityy image id.
 * Imported under the default 'singularity' Nextflow
 * profile in nextflow.config
 */

singularity {
	enabled = true
}


process {
	executor = 'pbs'
	module = ['qbic/singularity/2.4:devel/java_jdk/1.8.0u121']
	clusterOptions = { "-l nodes=1:ppn=${process.cpus}:cfc"}
	container = 'shub://qbicsoftware/qbic-singularity-megSAP'
	cpus = 8
	memory = 8.GB
	time = 2.h
	queue = 'cfc'
}
