/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------------------
 *  Nextflow config file for use with Singularity on CFC cluster
 * -------------------------------------------------------------
 * Defines basic usage limits and singularityy image id.
 * Imported under the default 'singularity' Nextflow
 * profile in nextflow.config
 */

singularity {
	enabled = true
}


process {
	executor = 'pbs'
	module = ['qbic/singularity/2.4', 'devel/java_jdk/1.8.0u121']
	clusterOptions = { "-A nodes=1:ppn=8:cfc ?: ''}" }
	container = '/home-link/iiipe01/Singularity/2017-10-23_qbic-singularity-megSAP.simg'
	cpus = 8
	memory = 32.GB
	time = 24.h
	queue = 'cfc'
}
